<%= render partial: "public/users/user_info", locals: {user: @user} %>

<div class="container main-content">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h5 class="page-title my-3">
        <strong><%= @user.name %>さんの店舗一覧</strong>
      </h5>
      <div>
        <table class="table">
          <% @shops.each do |shop| %>
          <tr>
            <td><%= link_to shop.name, admin_shop_path(shop) %></td>
            <td><%= shop.prefecture %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="float-right">
        <%= paginate @shops %>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>