<%= render partial: "public/users/user_info", locals: {user: @user} %>

<div class="container main-content">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="row d-flex align-items-center">
        <div class="col-lg-2">
          <h5 class="text-nowrap text-truncate my-3">
            <strong><%= @user.name %></strong>
          </h5>
        </div>
        <div class="col-lg-4">さんの店舗一覧</div>
      </div>
      <div>
        <table class="table">
          <% @shops.each do |shop| %>
          <tr>
            <td><%= link_to shop.name, admin_shop_path(shop) %></td>
            <td><%= shop.prefecture %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="float-right">
        <%= paginate @shops %>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>