<%= render partial: "public/users/user_info", locals: {user: @user} %>

<div class="container main-content">
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <div class="d-flex align-items-center bd-highlight">
        <h5 class="mb-0"><strong>店舗一覧</strong></h5>
        <%= link_to "MY店舗を登録", new_shop_path, class: "my-2 btn btn-primary bd-highlight ml-auto" %>
      </div>
      <div>
        <table class="table">
          <% @shops.each do |shop| %>
          <tr>
            <th><%= shop.prefecture %></td>
            <td><%= link_to shop.name, shop_path(shop), 'data-turbolinks': false %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="float-right">
        <%= paginate @shops %>
      </div>
    </div>
  </div>
</div>