<%= render partial: "public/users/head", locals: {user: @shop.user} %>

<div class="container">
  <h4 class="my-3"><strong>店舗情報</strong></h4>
  <% if @shop.user_id == current_user.id %>
    <%= link_to "編集", edit_shop_path(@shop), class: "btn btn-primary" %>
  <% end %>
  <div class="row p-3 d-flex justify-content-center">
    <div class="col-lg-5">
      <div>
        <div id='map'></div>
      </div>
    </div>
    <div class="col-lg-5">
      <table class="table">
        <tr>
          <th>name</th>
          <td>
            <h4><%= @shop.name %></h4>
          </td>
        </tr>
        <tr>
          <th>address</th>
          <td><%= @shop.full_address %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @shop.discription %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
  let map;
  let marker;

  function initMap(){
    geocoder = new google.maps.Geocoder()
    var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};

    map = new google.maps.Map(document.getElementById('map'), {
      center: test,
      zoom: 15,

      mapTypeControl: false,
      streetViewControl: false
    });

    var contentString = '住所：<%= @shop.full_address %>';

    infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    marker = new google.maps.Marker({
      position:  test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&callback=initMap" async defer></script>