    <div class="col-lg-3 p-3 text-center">

      <table class="table table-bordered">
        <thead class="sidebar_title">
          <tr>
            <th>
              <i class="fa-solid fa-tag"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% tags.each do |tag| %>
              <div class="tag-content d-flex flex-wrap">
                <% if tag.items.present? %>
                    <i class="fa-solid fa-hashtag">
                      <% if admin_signed_in? %>
                        <%= link_to tag.name, admin_items_path(tag_id: tag.id) %>
                        <%= "(#{tag.items.count})" %>
                      <% else %>
                        <%= link_to tag.name, root_path(tag_id: tag.id) %>
                        <%= "(#{tag.items.count})" %>
                      <% end %>
                    </i>
                <% end %>
              <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead class="sidebar_title">
          <tr>
            <th>
              <i class="fa-solid fa-list"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <% categories.each do |category| %>
          <tr>
            <td>
              <% if admin_signed_in? %>
                <%= link_to category.name, admin_items_path(category_id: category.id), class: "text-dark" %>
              <% else %>
                <%= link_to category.name, root_path(category_id: category.id), class: "text-dark" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead class="sidebar-title">
          <tr>
            <th>
              <i class="fa-solid fa-palette"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <% colors.each do |color| %>
          <tr>
            <td>
              <% if admin_signed_in? %>
                <%= link_to admin_items_path(color_id: color.id) do %>
                  <span style=" background-color: <%= color.code %>;", class= "color-box"></span>
                <% end %>
              <% else %>
                <%= link_to root_path(color_id: color.id) do %>
                  <span style=" background-color: <%= color.code %>;", class= "color-box"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
