<div>
  <%= flash[:notice] %>
</div>

<div class="container text-center">
  <div class="row text-center p-2">
    <div class="col-lg-3 side-bar">
      <div>
        <h5 class="my-3">タグ<i class="fa-solid fa-tag"></i></h5>
        <div class="d-flex flex-wrap">
        <% @tags.each do |tag| %>
          <% if tag.items.present? %>
            <div>
              <i class="fa-solid fa-hashtag ml-1 d-inline-flex">
                <%= link_to tag.name, root_path(tag_id: tag.id) %>
                <%= "(#{tag.items.count})" %>
              </i>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
      <div>
        <h5 class="my-3">カテゴリー<i class="fa-solid fa-list"></i></h5>
        <table class="table table-bordered">
          <% @categories.each do |category| %>
          <tr>
            <td>
              <%= link_to category.name, root_path(category_id: category.id), class: "text-dark" %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-lg-9 top-images">
      <h3 class="my-3">店内品揃えレビュー<i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></h3>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-lg-4">
        <div class="card m-2">
            <div class="card-header">
              <%= link_to user_path(item.user) do %>
                <%= image_tag item.user.get_profile_image(50,50), class: "rounded-circle" %>
              <% end %>
              <%= render partial: "public/relationships/btn", locals: {user: item.user} %>
            </div>
            <%= link_to item_path(item) do %>
              <%= image_tag item.item_images[0], class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <labal><%= link_to item.shop.prefecture, root_path(prefecture: item.shop.prefecture), class: "text-dark" %>｜</labal>
              <%= link_to item.shop.name, shop_path(item.shop.id), class: "text-dark" %>

              <%= render partial: "public/items/display_star", locals: {item: item} %>
              <%= item.created_at.strftime('%Y/%m/%d') %>時点
              <!--※余裕があれば現在地からの距離-->

            </div>
        </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
