<div class="container main-content">
  <div class="row">
    <%= render partial: "sidebar", locals: {tags: @tags, categories: @categories, colors: @colors} %>
    <div class="col-lg-9 text-center">
      <h3 class="my-3">店内品揃えレビュー<i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></h3>
      <div class="d-flex justify-content-center flex-wrap">
        <% @items.each do |item| %>
          <div class="card top-post">
            <div class="card-header">
              <%= link_to user_path(item.user) do %>
                <%= image_tag item.user.get_profile_image(100,100), class: "profile-img" %>
              <% end %>
            </div>
            <div class="top-post-img">
              <%= link_to item_path(item) do %>
                <%= image_tag item.item_images[0], class: "post-img" %>
              <% end %>
            </div>
            <div class="card-body">
              <% if item.shop.nil? %>
                <div>店舗情報は削除されました</div>
              <% else %>
                <labal><%= link_to item.shop.prefecture, root_path(prefecture: item.shop.prefecture), class: "text-dark" %>｜</labal>
                <strong><%= link_to item.shop.name, shop_path(item.shop.id), 'data-turbolinks': false, class: "text-dark" %></strong>
              <% end %>
              <%= render partial: "public/items/display_star", locals: {item: item} %>
              <%= item.created_at.strftime('%Y/%m/%d') %>時点
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
