<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    
    <%= render partial: "sidebar", locals: {tags: @tags, categories: @categories} %>
    
    <div class="col-lg-9 text-center">
      <h3 class="my-3">店内品揃えレビュー<i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></h3>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-lg-4">
        <div class="card m-2">
            <div class="card-header">
              <%= link_to user_path(item.user) do %>
                <%= image_tag item.user.get_profile_image(50,50), class: "rounded-circle" %>
              <% end %>
              <%= render partial: "public/relationships/btn", locals: {user: item.user} %>
            </div>
            <%= link_to item_path(item) do %>
              <%= image_tag item.item_images[0], class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <labal><%= link_to item.shop.prefecture, root_path(prefecture: item.shop.prefecture), class: "text-dark" %>｜</labal>
              <%= link_to item.shop.name, shop_path(item.shop.id), class: "text-dark" %>

              <%= render partial: "public/items/display_star", locals: {item: item} %>
              <%= item.created_at.strftime('%Y/%m/%d') %>時点
              <!--※余裕があれば現在地からの距離-->

            </div>
        </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
