<div class="container p-3 main-content">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6">
      <table class="table">
        <% user.each do |user| %>
        <tr>
          <td class="align-middle">
            <%= link_to admin_user_path(user) do %>
              <%= image_tag user.get_profile_image(80,80) %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= link_to user.name, admin_user_path(user) %>
          </td>
          <td class="align-middle">
              フォロー：<%= link_to user.followings.count, admin_user_followings_path(user) %>
          </td>
          <td class="align-middle">
              フォロワー：<%= link_to user.followers.count, admin_user_followers_path(user) %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="float-right">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>