<header class="shadow-sm">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand head-profile p-3">
        <%= link_to admin_user_path(user.id) do %>
          <%= image_tag user.get_profile_image(100,100), class: "rounded-circle mr-3", style: "object-fit: cover;" %>
          <%= user.name %>
        <% end %>
        <label class="ml-3">フォロー：</label>
        <%= link_to admin_user_followings_path(user) do %>
          <%= user.followings.count %>
        <% end %>|
        <label>フォロワー：</label>
        <%= link_to admin_user_followers_path(user) do %>
          <%= user.followers.count %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
