<%= render partial: "head", locals: {user: @user} %>

<div class="container">
  <div class="row">
    <div class="col-lg-9 mt-3">
      <div class="row">

        <div class="col-lg-4 p-3">
          <div class="card" style="width: 16rem;">
            <%= image_tag @user.get_profile_image(300,300) %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <p class="mr-3">ニックネーム</p>
                  <p><%= @user.name %></p>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <p class="mr-3">フォロー</p>
                  <%= link_to admin_user_followings_path(@user) do %>
                    <%= @user.followings.count %>
                  <% end %>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <p class="mr-3">フォロワー</p>
                  <%= link_to admin_user_followers_path(@user) do %>
                    <%= @user.followers.count %>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="row p-3 d-flex justify-content-center">
            <% @user.items.each do |item| %>
              <div class="col-lg-5">
                <%= link_to admin_item_path(item) do %>
                <%= image_tag item.item_images[0], size: "200x200", class: "mb-2 border border-dark", style: "object-fit: cover;" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
