<%= render partial: "public/users/user_info", locals: {user: @user} %>

<div class="container main-content">
  <div class="row">
    <%= render partial: "public/homes/sidebar", locals: {tags: @tags, categories: @categories} %>
    <div class="col-lg-9 mt-3">
      <div class="row">

        <div class="col-lg-4 p-3">
          <div class="card" style="width: 16rem;">
            <%= image_tag @user.get_profile_image(300,300) %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <label class="name-title">ニックネーム</label><br>
                <h4 class="text-nowrap text-truncate"><strong><%= @user.name %></strong></h4>
              </li>
              <li class="list-group-item">
                  <label class="mr-3">フォロー</label>
                  <%= link_to admin_user_followings_path(@user) do %>
                    <%= @user.followings.count %>
                  <% end %>
              </li>
              <li class="list-group-item">
                  <label class="mr-3">フォロワー</label>
                  <%= link_to admin_user_followers_path(@user) do %>
                    <%= @user.followers.count %>
                  <% end %>
              </li>
              <li class="list-group-item">
                  <%= link_to "登録店舗", admin_shops_path(user_id: @user.id), class: "btn btn-primary" %>
              </li>
              <li class="list-group-item">
                <%= link_to "アカウント削除", admin_user_path(@user.id), method: :delete, "data-confirm" => "このユーザーを本当に削除しますか？", class: "btn btn-danger", remote: true %>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="d-flex justify-content-center flex-wrap">
            <% @user.items.each do |item| %>
              <%= link_to admin_item_path(item) do %>
               <%= image_tag item.item_images[0], size: "200x200", class: "btn btn-outline-light user-item" %>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
