<div class="container py-5">
  <div class="card w-75 mx-auto my-4 shadow-lg text-center">
  <h2 class="p-3"><strong>ログイン</strong></h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mb-3">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:50%", placeholder: "メールアドレスを入力"  %>
    </div>

    <div class="field mb-3">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", style: "width:50%", placeholder: "パスワードを入力"  %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "ログイン", class: "btn btn-success" %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-secondary", method: :post %>
    </div>
  <% end %>

  <%= link_to "アカウント作成", new_user_registration_path, class: "mb-4" %>
  </div>
</div>