<header class="shadow-sm">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand head-profile p-3">
        <% if user_signed_in? %>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100), class: "rounded-circle mr-3" %>
            <%= user.name %>
          <% end %>
        <% else %>
          <%= link_to admin_user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100), class: "rounded-circle mr-3" %>
            <%= user.name %>
          <% end %>
        <% end %>
        <label class="ml-3">フォロー：</label>
        <% if user_signed_in? %>
          <%= link_to user_followings_path(user) do %>
            <%= user.followings.count %>
          <% end %>|
        <% else %>
          <%= link_to admin_user_followings_path(user) do %>
            <%= user.followings.count %>
          <% end %>|
        <% end %>
        <label>フォロワー：</label>
        <% if user_signed_in? %>
          <%= link_to user_followers_path(user) do %>
            <%= user.followers.count %>
          <% end %>
        <% else %>
          <%= link_to admin_user_followers_path(user) do %>
            <%= user.followers.count %>
          <% end %>
        <% end %>
      </div>
      <%= render partial: "public/relationships/btn", locals: {user: user} %>
    </div>
  </nav>
</header>
