  <nav class="seconde-nav shadow-sm">
    <div class="container">
      <div class="row d-flex align-items-center">

        <% if user_signed_in? %>
        <div class="col-lg-1">
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(50,50), class: "rounded-circle align-middle" %>
          <% end %>
        </div>
        <div class="col-lg-2 text-nowrap text-truncate">
          <%= link_to user_path(user.id) do %>
            <strong><%= user.name %></strong>
          <% end %>
        </div>
        <div class="offset-lg-1 col-lg-2">
          <span>フォロー：</span>
          <%= link_to user_followings_path(user) do %>
            <%= user.followings.count %>
          <% end %>
        </div>
        <div class="col-lg-2">
          <span>フォロワー：</span>
          <%= link_to user_followers_path(user) do %>
            <%= user.followers.count %>
          <% end %>
        </div>
        <div class="offset-lg-2 col-lg-2">
          <%= render partial: "public/relationships/btn", locals: {user: user} %>
        </div>

        <% else %>
        <div class="col-lg-1">
          <%= link_to admin_user_path(user.id) do %>
            <%= image_tag user.get_profile_image(80,80), class: "align-middle rounded-circle" %>
          <% end %>
        </div>
        <div class="col-lg-2">
          <%= link_to admin_user_path(user.id) do %>
            <strong><%= user.name %></strong>
          <% end %>
        </div>
        <div class="offset-lg-1 col-lg-2">
          <span class="align-middle">フォロー：
          <%= link_to admin_user_followings_path(user) do %>
            <%= user.followings.count %>
          <% end %>
          </span>
        </div>
        <div class="col-lg-2">
          <span class="align-middle">フォロワー：
          <%= link_to admin_user_followers_path(user) do %>
            <%= user.followers.count %>
          <% end %>
          </span>
        </div>
        <div class="offset-lg-2 col-lg-2">
          <%= link_to "会員ページ", admin_user_path(user) ,class: "badge badge-light float-right" %>
        </div>
        <% end %>
      </div>
    </div>
  </nav>
