<h3>ユーザー詳細</h3>
<div class="container">
  <div class="row mx-auto">
    <div class="col-lg-5 d-flex flex-column mb-3">
      <%= image_tag @user.get_profile_image(300,300) %>
      <div>
      フォロー・フォロワー
      </div>
      <div>
      <%= @user.name %>
      </div>
      <div>
      <%= @user.email %>
      </div>
      <% unless @user.guest_user? %>
        <div>
        <%= link_to "編集", edit_path(@user), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-5">
      <div class="row d-flex flex-wrap">
        <% current_user.items.each do |item| %>
          <%= link_to item_path(item) do %>
          <%= image_tag item.item_images[0], size: "210x280" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
