<div class="container">
<h3 class="my-3 page-title">ユーザー詳細</h3>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-5 mb-3">
        <div class="card" style="width: 18rem;">
          <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @user.name %></li>
            <li class="list-group-item"><%= @user.email %></li>
          </ul>
          <div class="card-body">
            <% unless @user.guest_user? %>
              <%= link_to "編集", edit_path(@user), class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row d-flex flex-wrap">
          <% current_user.items.each do |item| %>
          <div class="col-lg-6">
            <%= link_to item_path(item) do %>
            <%= image_tag item.item_images[0], size: "210x280" %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
