<div class="container">
<h3 class="my-3 page-title">ユーザー詳細</h3>
  <div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-5 d-flex flex-column mb-3">
        <%= image_tag @user.get_profile_image(300,300), class: "rounded-circle" %>
        <div>
        フォロー・フォロワー
        </div>
        <div>
        <%= @user.name %>
        </div>
        <div>
        <%= @user.email %>
        </div>
        <% unless @user.guest_user? %>
          <div>
          <%= link_to "編集", edit_path(@user), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="col-lg-5">
        <div class="row d-flex flex-wrap">
          <% current_user.items.each do |item| %>
          <div class="col-lg-6">
            <%= link_to item_path(item) do %>
            <%= image_tag item.item_images[0], size: "210x280" %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
