<%= render partial: "user_info", locals: {user: @user} %>

<div class="container main-content">
  <div class="row">
    <%= render partial: "public/homes/sidebar", locals: {tags: @tags, categories: @categories, colors: @colors} %>
    <div class="col-lg-9 mt-3">
      <div class="row">

        <div class="col-lg-4 p-3">
          <div class="card" style="width: 16rem;">
            <%= image_tag @user.get_profile_image(300,300) %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <label class="name-title">ニックネーム</label><br>
                <h4 class="text-nowrap text-truncate"><strong><%= @user.name %></strong></h4>
              </li>
              <li class="list-group-item">
                <label class="mr-3">フォロー</label>
                <%= link_to user_followings_path(@user) do %>
                  <%= @user.followings.count %>
                <% end %>
              </li>
              <li class="list-group-item">
                <label class="mr-3">フォロワー</label>
                <%= link_to user_followers_path(@user) do %>
                  <%= @user.followers.count %>
                <% end %>
              </li>
            </ul>
            <div class="card-body">
              <%= render partial: "public/relationships/btn", locals: {user: @user} %>
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="d-flex justify-content-center flex-wrap">
            <% @items.each do |item| %>
              <% if item.nil? %>
                <h5>まだ投稿はありません</h5>
              <% else %>
                <%= link_to item_path(item) do %>
                  <%= image_tag item.item_images[0], size: "200x200", class: "btn btn-outline-secondary user-item" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <%= paginate @items %>
        </div>

      </div>
    </div>
  </div>
</div>
