<%= render partial: "public/users/head", locals: {user: @item.user} %>

<div class="container">
  <div class="row">
    <%= render partial: "public/homes/sidebar", locals: {tags: @tags, categories: @categories} %>

    <div class="col-lg-9 mt-3">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-5">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-touch="false", data-interval="false">
            <div class="carousel-inner">
              <% @item.item_images.each_with_index do |item_image, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= image_tag item_image, class: "d-block w-100" %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-lg-5 border border-dark post_detail">
          <table class="table ">
            <caption>☆<%= @item.created_at.strftime('%Y/%m/%d') %> 時点のレビュー☆</caption>
              <tr>
                <th><i class="fa-solid fa-shop"></i></th>
                <td>
                  <h2><strong><%= link_to @item.shop.name, shop_path(@item.shop_id), class: "text-dark" %></strong></h2>
                </td>
              </tr>
              <tr>
                <th><i class="fa-regular fa-thumbs-up"></i></th>
                <td><%= render partial: "display_star", locals: {item: @item} %></td>
              </tr>
              <tr>
                <th><i class="fa-solid fa-shirt"></i></th>
                <td>
                  <h3><strong><%= @item.category.name %></strong></h3></td>
              </tr>
              <tr>
                <th><i class="fa-solid fa-palette"></i></th>
                <td>
                  <% @item.colors.each do |color| %>
                    <span style="display: inline-block; width: 20px; height: 20px; background-color: <%= color.code %>; margin-right: 5px;", class="border border-dark"></span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th><i class="fa-solid fa-tag"></i></th>
                <td>
                  <% @tag.each do |tag| %>
                    <i class="fa-solid fa-hashtag">
                      <%= link_to tag.name, root_path(tag_id: tag.id) %>
                    </i>
                  <% end %>
                </td>
              </tr>
          </table>
          <%= link_to edit_item_path(@item), class: "btn btn-outline-secondary w-100" do %>
          <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <p>コメント件数：<%= @item.post_comments.count %></p>
      <% @item.post_comments.each do |post_comment| %>
        <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
        <%= post_comment.user.name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        <%= post_comment.comment %>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", item_post_comment_path(post_comment.item, post_comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= form_with model: [@item, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '2', placeholder: "コメントする" %>
        <%= f.submit "送信" %>
      <% end %>
    </div>
  </div>