<%= render partial: "public/users/user_info", locals: {user: @item.user} %>

<div class="container main-content">
  <div class="row">
    <%= render partial: "public/homes/sidebar", locals: {tags: @tags, categories: @categories} %>
    <div class="col-lg-9 mt-3">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-5 mb-3">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-touch="false", data-interval="false">
            <div class="carousel-inner">
              <% @item.item_images.each_with_index do |item_image, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= image_tag item_image, class: "d-block w-100" %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-lg-5 mb-3 py-3">
          <table class="table">
            <caption>☆<%= @item.created_at.strftime('%Y/%m/%d') %> 時点のレビュー☆</caption>
              <tr>
                <th><i class="fa-solid fa-shop"></i></th>
                <td>
                  <% if @item.shop.nil? %>
                    <h4>※店舗情報は削除されました</h4>
                  <% else %>
                    <h2><strong><%= link_to @item.shop.name, shop_path(@item.shop_id), class: "text-dark" %></strong></h2>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th><i class="fa-regular fa-thumbs-up"></i></th>
                <td><%= render partial: "display_star", locals: {item: @item} %></td>
              </tr>
              <tr>
                <th><i class="fa-solid fa-shirt"></i></th>
                <td>
                  <h3><strong><%= link_to @item.category.name, root_path(category_id: @item.category.id), class: "text-dark" %></strong></h3></td>
              </tr>
              <tr>
                <th><i class="fa-solid fa-palette"></i></th>
                <td>
                  <% @item.colors.each do |color| %>
                    <span style="background-color: <%= color.code %>;", class="color-box"></span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th><i class="fa-solid fa-tag"></i></th>
                <td>
                  <% @tag.each do |tag| %>
                    <i class="fa-solid fa-hashtag">
                      <%= link_to tag.name, root_path(tag_id: tag.id) %>
                    </i>
                  <% end %>
                </td>
              </tr>
          </table>
          <%= link_to edit_item_path(@item), class: "btn btn-secondary w-100" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </div>
      </div>
      <div class="row p-3 border-top ">
        <div class="col comment-block p-2">
          <div class="comment-title">コメント投稿</div>
          <div class="border-top border-dark p-2">
            <% if user_signed_in? %>
              <%= form_with model: [@item, @post_comment] do |f| %>
                <%= f.text_area :comment, class: "form-control", rows: '3', class: "w-100 border border-dark"%>
                <%= f.submit "コメント", class: "float-right my-1" %>
              <% end %>
            <% else %>
              <div class="user-comment-box p-2 border border-dark"><%= link_to "ログイン", new_user_session_path %>してコメントをする。</div>
            <% end %>
          </div>
          <% @item.post_comments.each do |post_comment| %>
            <div class="comment-user-info p-2">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-1">
                  <% unless post_comment.user.blank? %>
                    <%= link_to user_path(post_comment.user.id) do %>
                      <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-circle text-decoration-none m-1" %>
                    <% end %>
                </div>
                <div class="col-lg-11 align-self-center text-nowrap text-truncate">
                  <%= post_comment.user.name unless post_comment.user.blank? %>
                </div>
              </div>
              <div class="user-comment-box border border-dark p-2">
                <%= post_comment.comment %>
                <%= link_to "削除", item_post_comment_path(post_comment.item, post_comment), method: :delete, "data-confirm" => "このコメントを削除しますか？", class: "badge badge-danger float-right" %>
              </div>
              <div class="float-right">
                <span>作成日時：</span><%= post_comment.created_at.strftime('%Y/%m/%d') %>
              </div>
          　　  <% end %>
            </div>
            <br/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>