<%= render partial: "public/users/head", locals: {user: @item.user} %>

<div class="container">
  <%= link_to "編集", edit_item_path(@item), class: "btn btn-primary my-3" %>
  <div class="row mb-5">
    <div class="col">
      <div class="row mb-2">
        <h3><i class="fa-solid fa-shop"></i>
        　<%= link_to @item.shop.name, shop_path(@item.shop_id) %>
        </h3>
      </div>
      <div class="row">
        <p>現在の品揃え：</p>
        <%= render partial: "display_star", locals: {item: @item} %>
      </div>
    </div>
  </div>

  <div class="row ml-3">
    <div class="col-lg-4 mb-3">
      <div class="mb-3">
        <label><h4>カテゴリー<i class="fa-solid fa-shirt"></i></h4></label><br>
        <%= @item.category.name %>
      </div>

      <div class="mb-3">
        <label><h4>カラー<i class="fa-solid fa-palette"></i></h4></label><br>
        <% @item.colors.each do |color| %>
          <%= color.name %>
        <% end %>
      </div>

      <div>
        <% @tag.each do |tag| %>
          <i class="fa-solid fa-hashtag">
            <%= link_to tag.name, root_path(tag_id: tag.id) %>
          </i>
        <% end %>
      </div>
    </div>

    <div class="col-lg-5">
      <% @item.item_images.each do |item_image| %>
        <%= image_tag item_image, size: "180x240" %>
      <% end %>
    </div>

    <div class="col-lg-3">
      <div>
        <p>コメント件数：<%= @item.post_comments.count %></p>
        <% @item.post_comments.each do |post_comment| %>
          <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
          <%= post_comment.user.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          <%= post_comment.comment %>
          <% if post_comment.user == current_user %>
            <%= link_to "削除", item_post_comment_path(post_comment.item, post_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@item, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントする" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>